
body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  height: 100vh;
  background: var(--gray-dark);
  color: var(--light);
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;
}

.countdown-content {
  margin-top: 5vh;
}

h1 {
  background: -webkit-linear-gradient(var(--blue), var(--red));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row img {
  width: 85%;
}

.circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-block;
}

.image-row {
  border-bottom: 0.5vh solid black;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#show-on-release {
  display: none;
}

#hide-on-release {
  display: block;
}